<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CnDWasteManagement</display-name>
  <welcome-file-list>
    <welcome-file>UserLogin.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>Admin.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCreateAccount</display-name>
    <servlet-name>AdminCreateAccount</servlet-name>
    <servlet-class>Admin.AdminCreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCreateAccount</servlet-name>
    <url-pattern>/AdminCreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVehicle</display-name>
    <servlet-name>AddVehicle</servlet-name>
    <servlet-class>Admin.AddVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicle</servlet-name>
    <url-pattern>/AddVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVehicle</display-name>
    <servlet-name>UpdateVehicle</servlet-name>
    <servlet-class>Admin.UpdateVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVehicle</servlet-name>
    <url-pattern>/UpdateVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>User.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCreateAccount</display-name>
    <servlet-name>UserCreateAccount</servlet-name>
    <servlet-class>User.UserCreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCreateAccount</servlet-name>
    <url-pattern>/UserCreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVehicleS</display-name>
    <servlet-name>UpdateVehicleS</servlet-name>
    <servlet-class>User.UpdateVehicleS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVehicleS</servlet-name>
    <url-pattern>/UpdateVehicleS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVehicleSt</display-name>
    <servlet-name>UpdateVehicleSt</servlet-name>
    <servlet-class>Admin.UpdateVehicleSt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVehicleSt</servlet-name>
    <url-pattern>/UpdateVehicleSt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CnDrequest</display-name>
    <servlet-name>CnDrequest</servlet-name>
    <servlet-class>User.CnDrequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CnDrequest</servlet-name>
    <url-pattern>/CnDrequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUpload</display-name>
    <servlet-name>ImageUpload</servlet-name>
    <servlet-class>User.ImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUpload</servlet-name>
    <url-pattern>/ImageUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUpload2</display-name>
    <servlet-name>ImageUpload2</servlet-name>
    <servlet-class>User.ImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUpload2</servlet-name>
    <url-pattern>/ImageUpload2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mukesh</display-name>
    <servlet-name>mukesh</servlet-name>
    <servlet-class>User.mukesh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mukesh</servlet-name>
    <url-pattern>/mukesh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>User.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileUpload</display-name>
    <servlet-name>fileUpload</servlet-name>
    <servlet-class>User.fileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileUpload</servlet-name>
    <url-pattern>/fileUpload</url-pattern>
  </servlet-mapping>
</web-app>